<ion-view view-title="Drill">
  <ion-content scroll="false">
      <div id="scoreboard" class="item">
          <div class="col-50 heat">Level: {{level}}</div>
          <div class="col-50 score">Score: {{score}}</div>
      </div>

      <canvas id="mainCanvas" style="border:1px solid #d3d3d3;" width="180" height="200">
          Your browser does not support the HTML5 canvas tag.
      </canvas>
      <div id="answers">
          <div class="col-40">
              <div class="row">
                  <button class="button button-block button-calm" ng-click="answer('0')">{{answers.a}}</button>
              </div>
              <div class="row">
                  <button class="button button-block button-calm" ng-click="answer('1')">{{answers.b}}</button>
              </div>
          </div>
          <div class="col-40">
              <div class="row">
                  <button class="button button-block button-calm" ng-click="answer('2')">{{answers.c}}</button>
              </div>
              <div class="row">
                  <button class="button button-block button-calm" ng-click="answer('3')">{{answers.d}}</button>
              </div>
          </div>
      </div>
  </ion-content>
</ion-view>
